.navbar{
    height:70px;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
}

.left{
    display:flex;
    align-items:center;
    gap:15px;
}

.menu-btn{
    background:none;
    border:none;
    color:white;
    font-size:32px;
    cursor:pointer;
}

.logo{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}

.title{
    margin:0;
    font-size:32px;
    font-weight:bold;
    color:white;
}

.right{
    display:flex;
    align-items:center;
    gap:25px;
}

.icon-btn{
    background:none;
    border:none;
    color:white;
    font-size:24px;
    cursor:pointer;
}

.sidebar{

    position:fixed;
    top:70px;
    left:-260px;

    width:250px;
    height:100%;

    background:#111827;

    transition:.3s;

    padding-top:20px;

    z-index:999;

}

.sidebar.open{
    left:0;
}

.sidebar a{

    display:block;

    color:white;

    text-decoration:none;

    padding:18px 25px;

    font-size:18px;

    transition:.3s;

}

.sidebar a:hover{

    background:#2563eb;

    padding-left:35px;

}