<div class="login-container">
    <div class="login-card">

        <h1>Login</h1>

        <form>

            <div class="input-group">
                <label>Username / Email</label>
                <input type="text" placeholder="Enter Username/Email">
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" placeholder="Enter Password">
            </div>

            <button type="submit" class="login-btn">
                Login
            </button>

            <!-- Forgot Password -->
            <div class="forgot-password">
                <a routerLink="/forgot-password">Forgot Password?</a>
            </div>

            <!-- Register Link -->
            <div class="register-link">
                Don't have an account?
                <a routerLink="/register">Create Account</a>
            </div>

        </form>

    </div>
</div>