<app-navbar></app-navbar>
<div class="dashboard-container">
    
    <div class="upload-card">

  <h2>Welcome to AI Contract Negotiation Platform</h2>

  <div class="upload-section">

    <input
      type="file"
      id="issuerFile"
      hidden
      (change)="onIssuerSelected($event)"
      accept=".pdf,.doc,.docx">

    <button class="upload-btn" (click)="issuerFile.click()">
      📄 Upload Issuer File
    </button>

    <input
      #issuerFile
      type="file"
      hidden
      (change)="onIssuerSelected($event)"
      accept=".pdf,.doc,.docx">

    <p *ngIf="issuerFileName">
      Selected: {{ issuerFileName }}
    </p>

  </div>
  <div class="upload-section">

    <input
      #acquirerFile
      type="file"
      hidden
      (change)="onAcquirerSelected($event)"
      accept=".pdf,.doc,.docx">

    <button class="upload-btn" (click)="acquirerFile.click()">
      📄 Upload Acquirer File
    </button>

    <p *ngIf="acquirerFileName">
      Selected: {{ acquirerFileName }}
    </p>

  </div>

  <button
      class="compare-btn"
      *ngIf="issuerSelected && acquirerSelected"
      (click)="compareContracts()">

      Compare Contracts

  </button>
   <div class="warning-box">
    <strong>⚠ Before Uploading</strong>

    <p>
        Upload two related software contracts—one from the <b>Issuer</b> and one from the <b>Acquirer</b>. 
        Both should describe the same agreement and include legal clauses such as Payment Terms, Delivery, Warranty, Confidentiality, Intellectual Property, Liability, Termination, and Governing Law. Only PDF files up to 10 MB are accepted.
    </p>
</div>
  </div>
</div>