<div class="register-container">
    <div class="register-card">
        <h1>Create Account</h1>
        <form>
             <div class="input-group">
                <label>User Name</label>
                <input type="text" placeholder="Enter User Name"
                [(ngModel)]="username" name="username">
            </div>
             <div class="input-group">
                <label>Email</label>
                <input type="email" placeholder="Enter your Email"
                [(ngModel)]="email" name="email">
            </div>
             <div class="input-group">
                <label>Password</label>
                <input type="Password" placeholder="Enter Password"
                [(ngModel)]="password" name="password">
            </div>
             <div class="input-group">
                <label>Confirm Password</label>
                <input type="Password" placeholder="Confirm your Password"
                [(ngModel)]="confirmPassword" name="confirmPassword">
            </div>
            <p style="color:red;" *ngIf="errorMessage">
  {{ errorMessage }}
</p>
        <button
    type="button"
    class="register-btn"
    (click)="register()">
    Register
</button>

    </form>


    <div class="login-link">
              Already have an account?
                <a routerLink="/login">Login</a>
            </div>
    </div>
</div>